<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="穷在闹市" />
		<!-- 作者 -->
		<meta name="revised" content="穷在闹市.v3, 2019/05/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>穷在闹市出品</title>

		<!-- 公共样式 开始 -->
		<link rel="stylesheet" type="text/css" href="../../css/base.css">
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont.css">
		<script type="text/javascript" src="../../framework/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
		<script type="text/javascript" src="../../layui/layui.js"></script>
		<!-- 仅供所有子页面使用
		公共样式 结束 -->
		<link rel="stylesheet" type="text/css" href="css/zxf_page.css"/>
		<!-- easyui -->
		<link rel="stylesheet" type="text/css" href="js/easyui/themes/default/easyui.css">
		<link rel="stylesheet" type="text/css" href="js/easyui/themes/icon.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/easyui/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="js/easyui/locale/easyui-lang-zh_CN.js"></script>
		<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
		<script type="text/javascript">
			function details(movieId){
				$.get("getMovieDetail",{
					movieId:movieId
				},function(data){
// 					var type = data.typeList;
// 					for(var i = 0; i < type.length; i++){
// 						var t = type[i];
// 						var typeList = $(".typeList").find();
// 						typeList.attr("checked",true);
// 					}
					$("#mname").val(data.name);
					$("#director").val("");
					$("#actor").val(data.actor);
					$("#releaseTime").val(data.releaseTime);
					$("#duration").val(data.duration);
					$("#region").val(data.region);
					$("#language").val(data.language);
					$("#foreignName").val(data.foreignName);
					CKEDITOR.instances.description.setData(data.description);
					$('#win').window('open');
				}
				)
				
			}
		</script>
	</head>
	<body>
	<div id="win" class="easyui-window" title="影片详情" closed="true" style="width:550px;height:650px;padding:5px;">
		影片名称:<input class="easyui-text" type="text" id="mname"><br>
		导&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;演:<input class="easyui-text" type="text" id="director"><br>
		主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;演:<input class="easyui-text" type="text" id="actor"><br>
		类型: 
<!-- 		 	<label class="typeList" th:each="t:${typeList}" class="check-box"> -->
<!-- <!--     			<input id="type" name="type" type="checkbox" th:value=${t.typeId} th:text="${t.name}"> --> -->
<!-- 			</label> -->
			<br>
		上映时间:<input class="easyui-text" type="text" id="releaseTime"><br>
		影片时长:<input class="easyui-text" type="text" id="duration"><br>
		地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区:<input class="easyui-text" type="text" id="region"><br>
		语&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;言:<input class="easyui-text" type="text" id="language"><br>
		外文名称:<input class="easyui-text" type="text" id="foreignName"><br>
		影片详情:<textarea rows="5" cols="20" id="description" name="description"></textarea>
		<script>
             CKEDITOR.replace( 'description' );
        </script>
        <div id="dlg-buttons">
		<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="javascript:alert('Ok')">修改</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#win').window('close')">返回</a>
	</div>
	</div>
	<input type="hidden" th:value="${total}" id="total">
		<div class="cBody">
			<div class="console">
				<form class="layui-form" action="">
					<div class="layui-form-item">
						<div class="layui-input-inline">
							<input type="text" name="name" required lay-verify="required" placeholder="输入分管名称" autocomplete="off" class="layui-input">
						</div>
						<div class="layui-input-inline">
				        	<input type="text" class="layui-input" id="time" placeholder=" - ">
						</div>
						<div class="layui-input-inline">
		                    <select name="provid" id="provid" lay-filter="provid">
		                        <option value="">影片类型</option>
		                    </select>
		                </div>
		                <div class="layui-input-inline">
		                    <select name="cityid" id="cityid" lay-filter="cityid">
		                        <option value=""></option>
		                    </select>
		                </div>
						<button class="layui-btn">查询</button>
					</div>
				</form>
			
			<table class="layui-table">
				<thead>
					<tr>
						<th>名称</th>
						<th>类型</th>
						<th>时长(分钟)</th>
						<th>上映时间</th>
						<th>地区</th>
						<th>语言</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="tbody">
					<tr th:each="m:${movieList}" >
						<td th:text="${m.name}"></td>
						<td></td>
						<td th:text="${m.duration}"></td>
						<td th:text="${#dates.format(m.releaseTime, 'yyyy-MM-dd')}"></td>
						<td th:text="${m.region}"></td>
						<td th:text="${m.language}"></td>
						<td>
							<button class="layui-btn" th:onclick="'javascript:details('+${m.movieId}+')' ">详细信息</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	<!-- 分页模块 -->		
	<!-- 分页样式 -->
	<script type="text/javascript" src="js/zxf_page.js"></script>
	<div class="zxf_pagediv"></div>
	<script type="text/javascript">
	//翻页
	var total = $("#total").val();
	$(".zxf_pagediv").createPage({
		pageNum: total,
		current: 1,
		backfun: function(e) {
			$.get("getAllMovieBypage",{
				current:e.current
			},function(data){
				$("#tbody").empty();
				$.each(data,function(k,v){
					$("#tbody").append(
							 '	<tr>' +
							 '		<td>'+v.name+'</td>' +
							 '		<td>无</td>' +
							 '		<td>'+v.duration+'</td>' +
							 '		<td>'+v.releaseTime+'</td>' +
							 '		<td>'+v.region+'</td>' +
							 '		<td>'+v.language+'</td>' +
							 '		<td>' +
							 '			<button class="layui-btn" onclick="details('+v.movieId+')">详细信息</button>\n' +
							 '		</td>' +
							 '	</tr>'
							)
				}); 
			})
		}
	});
	</script>
	</div>
	</body>
</html>