
<!DOCTYPE html>

<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if gt IE 9]><!--><html><!--<![endif]-->
<head>
  <title>热映口碑榜 - 猫眼电影 - 一网打尽好电影</title>
  <meta charset="utf-8">
  <meta name="keywords" content="猫眼电影,电影排行榜,热映口碑榜,最受期待榜,国内票房榜,北美票房榜,猫眼TOP100">
  <meta name="description" content="猫眼电影热门榜单,包括热映口碑榜,最受期待榜,国内票房榜,北美票房榜,猫眼TOP100,多维度为用户进行选片决策">
  <meta http-equiv="cleartype" content="yes" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="renderer" content="webkit" />

  <meta name="HandheldFriendly" content="true" />
  <meta name="format-detection" content="email=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
<link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/common.d0f96cc2.css"/>
<link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/board-index.92a06072.css"/>
</head>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript">

	function select(element){
		$("#s1").find(".active").removeAttr("class");
		$(element).attr("class","active");
	}
	
</script>
<body>

<!-- 头部选项 -->
<div th:replace="include::head(index=${index})" ></div>

<div class="header-placeholder"></div>

<div  class="subnav">
  <ul id="s1" class="navbar">
    <li>
      <a data-act="subnav-click" class="active" href="rank" onclick="select(this)"
      >热映口碑榜</a>
    </li>
    <li>
      <a data-act="subnav-click" 
          onclick="select(this)"
      >最受期待榜</a>
    </li>
    <li>
      <a data-act="subnav-click" 
          onclick="select(this)"
      >国内票房榜</a>
    </li>
    <li>
      <a data-act="subnav-click" 
          onclick="select(this)"
      >北美票房榜</a>
    </li>
    <li>
     <a data-act="subnav-click" 
          onclick="select(this)"
      >TOP100榜</a>
    </li>
  </ul>
</div>


<div class="container" id="app">

<div class="content">
    <div class="wrapper">
        <div class="main">
            <p class="update-time">2019-06-17<span class="has-fresh-text">已更新</span></p>
            <p class="board-content">榜单规则：将昨日国内热映的影片，按照评分从高到低排列取前10名，每天上午10点更新。相关数据来源于“猫眼专业版”及“猫眼电影库”。</p>
            <dl class="board-wrapper">
                <dd>
                        <i class="board-index board-index-1">1</i>
    <a href="/films/1204589" title="绝杀慕尼黑" class="image-link" data-act="boarditem-click" data-val="{movieId:1204589}">
      <img src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" alt="" class="poster-default" />
      <img data-src="https://p0.meituan.net/movie/67044d5479f075a18adba35571cadc4f978021.jpg@160w_220h_1e_1c" alt="绝杀慕尼黑" class="board-img" />
    </a>
    <div class="board-item-main">
      <div class="board-item-content">
              <div class="movie-item-info">
        <p class="name"><a href="/films/1204589" title="绝杀慕尼黑" data-act="boarditem-click" data-val="{movieId:1204589}">绝杀慕尼黑</a></p>
        <p class="star">
                主演：弗拉基米尔·马什科夫,约翰·萨维奇,伊万·科列斯尼科夫
        </p>
<p class="releasetime">上映时间：2019-06-13</p>    </div>
    <div class="movie-item-number score-num">
<p class="score"><i class="integer">9.</i><i class="fraction">6</i></p>        
    </div>

      </div>
    </div>

                </dd>
                <dd>
                        <i class="board-index board-index-2">2</i>
    <a href="/films/1215829" title="尺八·一声一世" class="image-link" data-act="boarditem-click" data-val="{movieId:1215829}">
      <img src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" alt="" class="poster-default" />
      <img data-src="https://p0.meituan.net/movie/0fcf11cd8dec7d63b4f840a9a096392b15161270.jpg@160w_220h_1e_1c" alt="尺八·一声一世" class="board-img" />
    </a>
    <div class="board-item-main">
      <div class="board-item-content">
              <div class="movie-item-info">
        <p class="name"><a href="/films/1215829" title="尺八·一声一世" data-act="boarditem-click" data-val="{movieId:1215829}">尺八·一声一世</a></p>
        <p class="star">
                主演：佐藤康夫,小凑昭尚,蔡鸿文
        </p>
<p class="releasetime">上映时间：2019-05-31</p>    </div>
    <div class="movie-item-number score-num">
<p class="score"><i class="integer">9.</i><i class="fraction">4</i></p>        
    </div>

      </div>
    </div>

                </dd>
                <dd>
                        <i class="board-index board-index-3">3</i>
    <a href="/films/1218727" title="何以为家" class="image-link" data-act="boarditem-click" data-val="{movieId:1218727}">
      <img src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" alt="" class="poster-default" />
      <img data-src="https://p1.meituan.net/movie/d28b729ffe72353a72d1e7ef8a9b90591544978.jpg@160w_220h_1e_1c" alt="何以为家" class="board-img" />
    </a>
    <div class="board-item-main">
      <div class="board-item-content">
              <div class="movie-item-info">
        <p class="name"><a href="/films/1218727" title="何以为家" data-act="boarditem-click" data-val="{movieId:1218727}">何以为家</a></p>
        <p class="star">
                主演：赞恩·阿尔·拉菲亚,约丹诺斯·希费罗,博鲁瓦蒂夫·特雷杰·班科尔
        </p>
<p class="releasetime">上映时间：2019-04-29</p>    </div>
    <div class="movie-item-number score-num">
<p class="score"><i class="integer">9.</i><i class="fraction">3</i></p>        
    </div>

      </div>
    </div>

                </dd>
                <dd>
                        <i class="board-index board-index-4">4</i>
    <a href="/films/887623" title="无所不能" class="image-link" data-act="boarditem-click" data-val="{movieId:887623}">
      <img src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" alt="" class="poster-default" />
      <img data-src="https://p0.meituan.net/movie/36b245c374ec10f6aba4d337f78e97f12022575.jpg@160w_220h_1e_1c" alt="无所不能" class="board-img" />
    </a>
    <div class="board-item-main">
      <div class="board-item-content">
              <div class="movie-item-info">
        <p class="name"><a href="/films/887623" title="无所不能" data-act="boarditem-click" data-val="{movieId:887623}">无所不能</a></p>
        <p class="star">
                主演：赫里尼克·罗斯汉,亚米·高塔姆,洛尼特·罗伊
        </p>
<p class="releasetime">上映时间：2019-06-05</p>    </div>
    <div class="movie-item-number score-num">
<p class="score"><i class="integer">9.</i><i class="fraction">2</i></p>        
    </div>

      </div>
    </div>

                </dd>
                <dd>
                        <i class="board-index board-index-5">5</i>
    <a href="/films/1254277" title="一条狗的使命2" class="image-link" data-act="boarditem-click" data-val="{movieId:1254277}">
      <img src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" alt="" class="poster-default" />
      <img data-src="https://p1.meituan.net/movie/b76f37b5e3484b6837f75ef7b5bf46452066459.jpg@160w_220h_1e_1c" alt="一条狗的使命2" class="board-img" />
    </a>
    <div class="board-item-main">
      <div class="board-item-content">
              <div class="movie-item-info">
        <p class="name"><a href="/films/1254277" title="一条狗的使命2" data-act="boarditem-click" data-val="{movieId:1254277}">一条狗的使命2</a></p>
        <p class="star">
                主演：丹尼斯·奎德,凯瑟琳·普雷斯科特,刘宪华
        </p>
<p class="releasetime">上映时间：2019-05-17</p>    </div>
    <div class="movie-item-number score-num">
<p class="score"><i class="integer">9.</i><i class="fraction">2</i></p>        
    </div>

      </div>
    </div>

                </dd>
                <dd>
                        <i class="board-index board-index-6">6</i>
    <a href="/films/1225761" title="卡拉斯：为爱而声" class="image-link" data-act="boarditem-click" data-val="{movieId:1225761}">
      <img src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" alt="" class="poster-default" />
      <img data-src="https://p0.meituan.net/movie/f9a5804fc40e3ddfbbd8b79523bf56ee165492.jpg@160w_220h_1e_1c" alt="卡拉斯：为爱而声" class="board-img" />
    </a>
    <div class="board-item-main">
      <div class="board-item-content">
              <div class="movie-item-info">
        <p class="name"><a href="/films/1225761" title="卡拉斯：为爱而声" data-act="boarditem-click" data-val="{movieId:1225761}">卡拉斯：为爱而声</a></p>
        <p class="star">
                主演：玛丽亚·卡拉斯,维托里奥·德·西卡,亚里士多德·奥纳西斯
        </p>
<p class="releasetime">上映时间：2019-05-31</p>    </div>
    <div class="movie-item-number score-num">
<p class="score"><i class="integer">9.</i><i class="fraction">2</i></p>        
    </div>

      </div>
    </div>

                </dd>
                <dd>
                        <i class="board-index board-index-7">7</i>
    <a href="/films/1219454" title="龙珠超：布罗利" class="image-link" data-act="boarditem-click" data-val="{movieId:1219454}">
      <img src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" alt="" class="poster-default" />
      <img data-src="https://p1.meituan.net/movie/add2ab162d018ceb1351e6e8e465d92f650170.jpg@160w_220h_1e_1c" alt="龙珠超：布罗利" class="board-img" />
    </a>
    <div class="board-item-main">
      <div class="board-item-content">
              <div class="movie-item-info">
        <p class="name"><a href="/films/1219454" title="龙珠超：布罗利" data-act="boarditem-click" data-val="{movieId:1219454}">龙珠超：布罗利</a></p>
        <p class="star">
                主演：野泽雅子,堀川亮,中尾隆圣
        </p>
<p class="releasetime">上映时间：2019-05-24</p>    </div>
    <div class="movie-item-number score-num">
<p class="score"><i class="integer">9.</i><i class="fraction">1</i></p>        
    </div>

      </div>
    </div>

                </dd>
                <dd>
                        <i class="board-index board-index-8">8</i>
    <a href="/films/1207959" title="阿拉丁" class="image-link" data-act="boarditem-click" data-val="{movieId:1207959}">
      <img src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" alt="" class="poster-default" />
      <img data-src="https://p1.meituan.net/moviemachine/42ef79dd1d894b67dd57de383d753c03556009.jpg@160w_220h_1e_1c" alt="阿拉丁" class="board-img" />
    </a>
    <div class="board-item-main">
      <div class="board-item-content">
              <div class="movie-item-info">
        <p class="name"><a href="/films/1207959" title="阿拉丁" data-act="boarditem-click" data-val="{movieId:1207959}">阿拉丁</a></p>
        <p class="star">
                主演：梅纳·玛索德,娜奥米·斯科特,马尔万·肯扎里
        </p>
<p class="releasetime">上映时间：2019-05-24</p>    </div>
    <div class="movie-item-number score-num">
<p class="score"><i class="integer">9.</i><i class="fraction">0</i></p>        
    </div>
      </div>
    </div>

                </dd>
                <dd>
                        <i class="board-index board-index-9">9</i>
    <a href="/films/342893" title="进京城" class="image-link" data-act="boarditem-click" data-val="{movieId:342893}">
      <img src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" alt="" class="poster-default" />
      <img data-src="https://p0.meituan.net/movie/35cd439c836bf2281bbd1e8eaeb8fdea3999459.jpg@160w_220h_1e_1c" alt="进京城" class="board-img" />
    </a>
    <div class="board-item-main">
      <div class="board-item-content">
              <div class="movie-item-info">
        <p class="name"><a href="/films/342893" title="进京城" data-act="boarditem-click" data-val="{movieId:342893}">进京城</a></p>
        <p class="star">
                主演：马伊琍,富大龙,马敬涵
        </p>
<p class="releasetime">上映时间：2019-05-10</p>    </div>
    <div class="movie-item-number score-num">
<p class="score"><i class="integer">9.</i><i class="fraction">0</i></p>        
    </div>

      </div>
    </div>

                </dd>
                <dd>
                        <i class="board-index board-index-10">10</i>
    <a href="/films/1278409" title="巧虎大飞船历险记" class="image-link" data-act="boarditem-click" data-val="{movieId:1278409}">
      <img src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image/loading_2.e3d934bf.png" alt="" class="poster-default" />
      <img data-src="https://p0.meituan.net/movie/3def2ad561cf58b6faeea87c5b284ed61592438.jpg@160w_220h_1e_1c" alt="巧虎大飞船历险记" class="board-img" />
    </a>
    <div class="board-item-main">
      <div class="board-item-content">
              <div class="movie-item-info">
        <p class="name"><a href="/films/1278409" title="巧虎大飞船历险记" data-act="boarditem-click" data-val="{movieId:1278409}">巧虎大飞船历险记</a></p>
        <p class="star">
                主演：李晔,沈达威,罗玉婷
        </p>
<p class="releasetime">上映时间：2019-06-01</p>    </div>
    <div class="movie-item-number score-num">
<p class="score"><i class="integer">8.</i><i class="fraction">9</i></p>        
    </div>

      </div>
    </div>

                </dd>
            </dl>

        </div>
    </div>
</div>

    </div>

<div class="footer" style="visibility: visible;">
		<p class="friendly-links">
			关于猫眼 : <a href="http://ir.maoyan.com/s/index.php#pageScroll0"
				target="_blank">关于我们</a> <span></span> <a
				href="http://ir.maoyan.com/s/index.php#pageScroll1" target="_blank">管理团队</a>
			<span></span> <a href="http://ir.maoyan.com/s/index.php#pageScroll2"
				target="_blank">投资者关系</a> &nbsp;&nbsp;&nbsp;&nbsp; 友情链接 : <a
				href="http://www.meituan.com/" data-query="utm_source=wwwmaoyan"
				target="_blank">美团网</a> <span></span> <a
				href="http://www.gewara.com/" data-query="utm_source=wwwmaoyan">格瓦拉</a>
			<span></span> <a href="http://i.meituan.com/client"
				data-query="utm_source=wwwmaoyan" target="_blank">美团下载</a> <span></span>
			<a href="https://www.huanxi.com/" data-query="utm_source=maoyan_pc"
				target="_blank">欢喜首映</a>
		</p>
		<p class="friendly-links">
			商务合作邮箱：v@maoyan.com 客服电话：10105335 违法和不良信息举报电话：4006018900 <br>
			投诉举报邮箱：tousujubao@meituan.com 舞弊线索举报邮箱：wubijubao@maoyan.com
		</p>
		<p>
			©2016 猫眼电影 maoyan.com <a
				href="https://tsm.miit.gov.cn/pages/EnterpriseSearchList_Portal.aspx?type=0&amp;keyword=%E4%BA%ACICP%E8%AF%81160733%E5%8F%B7&amp;pageNo=1"
				target="_blank">京ICP证160733号</a> <a
				href="http://www.miibeian.gov.cn/" target="_blank">京ICP备16022489号-1</a>
			<a
				href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102003232"
				target="_blank">京公网安备 11010102003232号</a> <a
				href="https://maoyan.com/about/licence" target="_blank">网络文化经营许可证</a>
			<a href="http://www.meituan.com/about/rules" target="_blank">电子公告服务规则</a>
		</p>
		<p>北京猫眼文化传媒有限公司</p>
	</div>
</body>
</html>
